<div style="display: flex;">
<ng-multiselect-dropdown
  [placeholder]="'Select category'"
  [data]="dropdownListFromCategory"
  [(ngModel)]="selectedItemsFromCategory"
  [settings]="dropdownCategorySettings"
  (onDropDownClose)="onItemDropDownCategory($event)"
>
</ng-multiselect-dropdown>
<ng-multiselect-dropdown
  [placeholder]="'Select subCategory'"
  [data]="dropdownListFromSubCategory"
  [(ngModel)]="selectedItemsFromSubCategory"
  [settings]="dropdownSubCategorySettings"
  (onSelect)="onItemSelectSubCategory($event)"
  *ngIf="selectedItemsFromCategory.lenght!=0"
>
</ng-multiselect-dropdown>
</div>