<ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [data]="dropdownListFromCategory"
  [(ngModel)]="selectedItemsFromCategory"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelectCategory($event)"
>
</ng-multiselect-dropdown>
<ng-multiselect-dropdown
  [placeholder]="'custom placeholder'"
  [data]="dropdownListFromSubCategory"
  [(ngModel)]="selectedItemsFromSubCategory"
  [settings]="dropdownSettings"
  (onSelect)="onItemSelectSubCategory($event)"
  *ngIf="dropdownListFromSubCategory"
>
</ng-multiselect-dropdown>