<div class="form-group">
  <select
    (change)="onChange($event.target.value)"
    class="form-control border-primary"
    style="margin-bottom:15px;height: 30px;padding: 5px;width: 30%;display:inline-block"
  >
    <option
      *ngFor="let item of languageModel" 
      [value]="item.id"
      [selected]="item.id == currentLanguageId"
    >
      {{ item.name }}
    </option>
  </select>

  <ng-container *ngFor="let item of languageModel">
    <input
      type="text"
      class="form-control"
      style="width: 70%;"
      [value]="getText(item.id)"
      placeholder="Text for {{ item.name }}"
      [name]="item.id"
      [ngStyle]="{
        display: item.id == currentLanguageId ? 'inline-block' : 'none'
      }"
      (change)="inputTextChange($event.target)"
    />
  </ng-container>
</div>
