<div class="col-md-6 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Change Password</h4>
      <form [formGroup]="form" (ngSubmit)="submitForm()" class="forms-sample">
          <div class="form-group">
            <label for="exampleInputUserName">Password</label>
            <input
              type="password"
              class="form-control"
              id="passwordInput"
              placeholder="Password"
              formControlName="password"
              required
            />
          </div>
          <div class="form-group">
            <label for="exampleInputUserName">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="passwordInput"
              placeholder="Password"
              formControlName="rePassword"
              required
            />
          </div>

        <button
          type="submit"
          class="btn btn-success mr-2"
          [disabled]="form.invalid"
        >
          Submit
        </button>
        <button class="btn btn-light" (click)="cancelButton()">Cancel</button>
      </form>
    </div>
  </div>
</div>
