<div class="form-group">
  <div style="margin-bottom: 10px;">
    <button
      (click)="currentSectionType = mySectionType.Shop"
      class="btn "
      [ngClass]="
        currentSectionType == mySectionType.Shop
          ? 'btn btn-outline-primary'
          : 'btn-outline-secondary'
      "
    >
      Shop
    </button>
    <button
      (click)="currentSectionType = mySectionType.Interior"
      class="btn "
      [ngClass]="
        currentSectionType == mySectionType.Interior
          ? 'btn btn-outline-primary'
          : 'btn-outline-secondary'
      "
    >
      Interior
    </button>
    <button
  
      (click)="currentSectionType = mySectionType.Category"
      class="btn "
      [ngClass]="
        currentSectionType == mySectionType.Category
          ? 'btn btn-outline-primary'
          : 'btn-outline-secondary'
      "
    >
      Category
    </button>
    <button
      (click)="currentSectionType = mySectionType.Brand"
      class="btn "
      [ngClass]="
        currentSectionType == mySectionType.Brand
          ? 'btn btn-outline-primary'
          : 'btn-outline-secondary'
      "
    >
      Brand
    </button>
  </div>
  
  <div>
    <select
      class="form-control border-primary my-selection"
      [ngStyle]="{
        display: currentSectionType == mySectionType.Shop ? 'inline-block' : 'none'
      }"
      (change)="onChange($event.target.value)"
    >
    <option selected>Select an Option</option>
      <option
        *ngFor="let item of shopModels"
        [value]="item.id"
        [selected]="item.id == currentShopId"
      >
        {{ item.contents[0].text }}
      </option>
    </select>
    <select
      class="form-control border-primary my-selection"
      [ngStyle]="{
        display:
          currentSectionType == mySectionType.Interior ? 'inline-block' : 'none'
      }"
      (change)="onChange($event.target.value)"
    >
    <option selected>Select an Option</option>

      <option
        *ngFor="let item of interiorModels"
        [value]="item.id"
        [selected]="item.id == currentInteriorId"
      >
        {{ item.contents[0].text }}
      </option>
    </select>
    <select
      class="form-control border-primary my-selection"
      [ngStyle]="{
        display:
          currentSectionType == mySectionType.Category ? 'inline-block' : 'none'
      }"
      (change)="onChange($event.target.value)"
    >
    <option selected>Select an Option</option>

      <option
        *ngFor="let item of categoryModels"
        [value]="item.id"
        [selected]="item.id == currentCategoryId"
      >
        {{ item.contents[0].text }}
      </option>
    </select>
    <select
      class="form-control border-primary my-selection"
      [ngStyle]="{
        display: currentSectionType == mySectionType.Brand ? 'inline-block' : 'none'
      }"
      (change)="onChange($event.target.value)"
    >
    <option selected>Select an Option</option>

      <option
        *ngFor="let item of brandModels"
        [value]="item.id"
        [selected]="item.id == currentBrandId"
      >
        {{ item.contents[0].text }}
      </option>
    </select>
  </div>  
</div>
