<kendo-grid
          [data]="view | async"
          [loading]="view.loading"
          [pageSize]="pageSize"
          [skip]="skip"
          [sort]="sort"
          [sortable]="true"
          [pageable]="true"
          [scrollable]="'none'"
          [filterable]="false"
          (dataStateChange)="dataStateChange($event)"
        >
        <!-- <app-show-message [statusAlert]="1" [message]="Hello"></app-show-message> -->
        <kendo-grid-column field="UserInfo" width="130">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div style="display: flex">
                <!-- <img src="{{ 'assets/images/faces/face1.jpg' }}" 
                        onerror=" this.src = 'assets/images/faces/face1.jpg' "
                          alt="Patient Image" class="customer-photo"/>    -->   
                 <p>{{dataItem.firstName}} {{dataItem.lastName}}</p>
                </div>
             </ng-template>
        </kendo-grid-column> 
        <kendo-grid-column field="Id"> 
            <ng-template kendoGridCellTemplate let-dataItem>
                <div style="display: flex">      
                   <p>{{dataItem.id}}</p>
                  </div>
               </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="userName" > 
          <ng-template kendoGridCellTemplate let-dataItem>
              <div style="display: flex">      
                 <p >{{dataItem.username}}</p>
                </div>
             </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="Actions" title="Actions" width="120">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button (click)="createButtonClick()">Add</button>
          <button (click)="editButtonClick(dataItem.id)">Edit</button>
          <button (click)="changePasswordButtonClick(dataItem.id)">Change</button>

        </ng-template>
    </kendo-grid-column>
      


      </kendo-grid>