<kendo-grid
  [data]="view | async"
  [loading]="view.loading"
  [pageSize]="pageSize"
  [skip]="skip"
  [sort]="sort"
  [sortable]="true"
  [pageable]="true"
  [scrollable]="'none'"
  [filterable]="false"
  (dataStateChange)="dataStateChange($event)"
>
  <!-- <app-show-message [statusAlert]="1" [message]="Hello"></app-show-message> -->

  <kendo-grid-column field="Id" width="130" [sortable]="false">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div style="display: flex">
        <p>{{ dataItem.id }}</p>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Name">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div style="display: flex">
        <p>{{ dataItem.contents[0].text }}</p>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="DeepLinkingUrl">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div style="display: flex">
        <p>{{ dataItem.deepLinkingUrl }}</p>
      </div>
    </ng-template>
  </kendo-grid-column>

  <kendo-grid-column field="Price">
    <ng-template kendoGridCellTemplate let-dataItem>
      <div style="display: flex">
        <p>{{ dataItem.price }}</p>
      </div>
    </ng-template>
  </kendo-grid-column>
  <kendo-grid-column field="Actions" width="120">
    <ng-template kendoGridHeaderTemplate>
      <div>
        <p style="display: inline-block;">Actions</p>
        <button (click)="createButtonClick()" class="btn">
          <i class="fa fa-plus-square"></i>
        </button>
      </div>
    </ng-template>
    <ng-template kendoGridCellTemplate let-dataItem>
      <div style="display: flex;">
        <button (click)="editButtonClick(dataItem.id)" class="btn">
          <i class="fa fa-edit"></i>
        </button>
        <button (click)="deleteButtonClick(dataItem.id)" class="btn">
          <i class="fa fa-minus-square"></i>
        </button>
      </div>
    </ng-template>
  </kendo-grid-column>
</kendo-grid>
