<div class="col-md-11 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Edit form</h4>
      <form [formGroup]="form" (ngSubmit)="submitForm()" class="forms-sample">
        <div class="form-group">
          <label>Name</label>
          <app-content-edit
            [currentContent]="interiorGetModel.nameContent"
            [isCreate]="interiorId > 0"
            (changeContents)="changeContents($event)"
            [contentType]="contentType.Name"
          ></app-content-edit>
        </div>
        <div class="form-group">
          <label>Description</label>
          <app-content-edit
            [currentContent]="interiorGetModel.descriptionContent"
            [isCreate]="interiorId > 0"
            (changeContents)="changeContents($event)"
            [contentType]="contentType.Description"
          ></app-content-edit>
        </div>
        <div style="display: flex;" class="form-group">
          <label style="width: 50%;">Image</label>
          <app-file-edit
            [fileName]="getFileName(fileType.Image)"
            (changeFile)="onFileChange($event)"
            [fileType]="fileType.Image"
          ></app-file-edit>
        </div>

        <div style="display: flex;" class="form-group">
          <label style="width: 50%;">IosBundle</label>
          <app-file-edit
            [fileName]="getFileName(fileType.IosBundle)"
            (changeFile)="onFileChange($event)"
            [fileType]="fileType.IosBundle"
          ></app-file-edit>
        </div>
        <div style="display: flex;" class="form-group">
          <label style="width:50%">AndroidBundle</label>
          <app-file-edit
            [fileName]="getFileName(fileType.AndroidBundle)"
            (changeFile)="onFileChange($event)"
            [fileType]="fileType.AndroidBundle"
          ></app-file-edit>
        </div>

        <div style="display: flex;" class="form-group">
          <label style="width:50%">Glb</label>
          <app-file-edit
            [fileName]="getFileName(fileType.Glb)"
            (changeFile)="onFileChange($event)"
            [fileType]="fileType.Glb"
          ></app-file-edit>
        </div>

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <span class="input-group-addon">0.00</span>
            <input
              type="text"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              formControlName="price"
            />
          </div>
        </div>
        <div class="form-group">
          <app-option-detail-view
            [model]="model"
            (onChangeOptionContent)="onChangeOptionContent($event)"
          ></app-option-detail-view>
        </div>

        <button
          type="submit"
          class="btn btn-success mr-2"
          [disabled]="form.invalid"
        >
          Submit
        </button>
        <button class="btn btn-light" (click)="cancelButton()">Cancel</button>
      </form>
    </div>
  </div>
</div>
