<div class="col-md-11 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Edit form</h4>
      <form   class="forms-sample">
        <div class="form-group">
          <label>Name</label>
          <app-content-edit
            [currentContent]="interiorGetModel.nameContent"
            [isCreate]="interiorId > 0"
            (changeContents)="changeContents($event)"
            [contentType]="contentType.Name"
          ></app-content-edit>
        </div>
        <div class="form-group">
          <label>Description</label>
          <app-content-edit
            [currentContent]="interiorGetModel.descriptionContent"
            [isCreate]="interiorId > 0"
            (changeContents)="changeContents($event)"
            [contentType]="contentType.Description"
          ></app-content-edit>
        </div>
        <div style="display: flex;" class="form-group">
          <label style="width: 50%;">Image</label>
          <div style="width: 50%;">
            <app-file-edit
              [fileName]="getFileName(fileType.Image)"
              (changeFile)="onFileChange($event)"
              [fileType]="fileType.Image"
            ></app-file-edit>
          </div>
        </div>

        <div style="display: flex;" class="form-group">
          <label style="width: 50%;">IosBundle</label>
          <div style="width: 50%;">
            <app-file-edit
              [fileName]="getFileName(fileType.IosBundle)"
              (changeFile)="onFileChange($event)"
              [fileType]="fileType.IosBundle"
            ></app-file-edit>
          </div>
        </div>
        <div style="display: flex;" class="form-group">
          <label style="width:50%">AndroidBundle</label>
          <div style="width: 50%;">
            <app-file-edit
              [fileName]="getFileName(fileType.AndroidBundle)"
              (changeFile)="onFileChange($event)"
              [fileType]="fileType.AndroidBundle"
            ></app-file-edit>
          </div>
        </div>

        <div style="display: flex;" class="form-group">
          <label style="width:50%">Glb</label>
          <div style="width: 50%;">
            <app-file-edit
              [fileName]="getFileName(fileType.Glb)"
              (changeFile)="onFileChange($event)"
              [fileType]="fileType.Glb"
            ></app-file-edit>
          </div>
        </div>

        <div class="form-group">
          <label>Price</label><br />
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              aria-label="Amount (to the nearest dollar)"
              [(ngModel)]="interiorGetModel.price"
              name="Price"
              required
            />
            <span class="input-group-addon">$</span>
            <span class="input-group-addon">0.00</span>
          </div>
        </div>
        <div class="form-group">
          <label>Buy Url</label><br />
          <input
            class="form-control"
            type="text"
            [value]="interiorGetModel.buyUrl"
          />
        </div>
        <div class="form-group">
          <label>Available</label><br />
          <select
            class="form-control border-primary"
            style="margin-bottom:15px;height: 30px;padding: 5px;"
            [(ngModel)]="interiorGetModel.isAvailable"
            name="Available"
          >
            <option [value]="'True'" [selected]="interiorGetModel.isAvailable"
              >Yes</option
            >
            <option [value]="'False'" [selected]="!interiorGetModel.isAvailable"
              >No</option
            >
          </select>
        </div>
        <div class="form-group">
          <label>Visible</label><br />
          <select
            class="form-control border-primary"
            style="margin-bottom:15px;height: 30px;padding: 5px;"
            [(ngModel)]="interiorGetModel.isVisible"
            name="Visible"
          >
            <option [value]="'True'" [selected]="interiorGetModel.isVisible"
              >Yes</option
            >
            <option [value]="'False'" [selected]="!interiorGetModel.isVisible"
              >No</option
            >
          </select>
        </div>
        <div class="form-group">
          <label>Shop</label><br />
          <select
            class="form-control border-primary"
            style="margin-bottom:15px;height: 30px;padding: 5px;"
            [(ngModel)]="interiorGetModel.shopId"
            name="Shop"
          >
            <option
              *ngFor="let item of shopsModel"
              [value]="item.id"
              [selected]="item.id == interiorGetModel.shopId"
              >{{ item.contents[0].text }}</option
            >
          </select>
        </div>
        <div class="form-group">
          <label>Brand</label><br />
          <select
            class="form-control border-primary"
            style="margin-bottom:15px;height: 30px;padding: 5px;"
            [(ngModel)]="interiorGetModel.brandId"
            name="Brand"
          >
            <option
              *ngFor="let item of brandsModel"
              [value]="item.id"
              [selected]="item.id == interiorGetModel.brandId"
              >{{ item.contents[0].text }}</option
            >
          </select>
        </div>
        <div class="form-group">
          <label>Category</label><br />
          <select
            class="form-control border-primary"
            style="margin-bottom:15px;height: 30px;padding: 5px;"
            [(ngModel)]="interiorGetModel.categoryId"
            name="Category"
          >
            <option
              *ngFor="let item of categoriesModel"
              [value]="item.id"
              [selected]="item.id == interiorGetModel.categoryId"
              >{{ item.contents[0].text }}</option
            >
          </select>
        </div>

        <div class="form-group">
          <app-option-detail-view
            [model]="model"
            (onChangeOptionContent)="onChangeOptionContent($event)"
          ></app-option-detail-view>
        </div>

        <button
          type="submit"
          class="btn btn-success mr-2"
          (click)="submitForm()"
        >
          Submit
        </button>
        <button class="btn btn-light" (click)="cancelButton()">Cancel</button>
      </form>
    </div>
  </div>
</div>
