<kendo-grid
          [data]="view | async"
          [loading]="view.loading"
          [pageSize]="state.take"
          [skip]="state.skip"
          [sort]="state.sort"
          [sortable]="true"
          [pageable]="true"
          [scrollable]="'none'"
          [filterable]="true"
          (dataStateChange)="dataStateChange($event)"
        >
    
        <kendo-grid-column field="UserInfo" width="130" [filterable]="false">
            <ng-template kendoGridCellTemplate let-dataItem>
              <div style="display: flex">
                <img src="{{ 'assets/images/faces/face0.jpg' }}" 
                        onerror=" this.src = 'assets/images/faces/face0.jpg' "
                          alt="Patient Image" class="customer-photo"/>      
                 <p class="customer-name">{{dataItem.firstName}} {{dataItem.lastName}}</p>
                </div>
             </ng-template>
        </kendo-grid-column>
        <kendo-grid-column field="ApplicationName" [sortable]="false"> 
            <ng-template kendoGridCellTemplate let-dataItem>
                <div style="display: flex">      
                   <p class="customer-name">{{dataItem.applicationInfos[0].appName}}</p>
                  </div>
               </ng-template>
        </kendo-grid-column>
        <div *kendoGridDetailTemplate="let dataItem">
          <app-user-detail [category]="dataItem"></app-user-detail>
      </div>
      </kendo-grid>